*.o
src/gjiten
src/.deps/*
stamp-h1
Makefile
Makefile.in
autom4t*
m4/*
*.vscode*
compile
config.h
config.h.*
config.log
config.status
configure
data/Makefile
data/Makefile.in
data/gjiten-dicfiles.schemas
data/gjiten.schemas
depcomp
dicfiles/Makefile
dicfiles/Makefile.in
gnome/Makefile
gnome/Makefile.in
help/C/Makefile
help/C/Makefile.in
help/C/omf_timestamp
help/Makefile
help/Makefile.in
help/ja/Makefile
help/ja/Makefile.in
intltool-extract.in
intltool-merge.in
intltool-update.in
libtool
ltmain.sh
missing
pixmaps/Makefile
pixmaps/Makefile.in
po/.intltool-merge-cache
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/POTFILES
po/de.gmo
po/de_CH.gmo
po/ja.gmo
po/stamp-it

Makefile.in
aclocal.m4
compile
config.h.in
configure
data/Makefile.in
depcomp
dicfiles/Makefile.in
gnome/Makefile.in
help/C/Makefile.in
help/Makefile.in
help/ja/Makefile.in

ltmain.sh
missing
pixmaps/Makefile.in
po/Makefile.in.in
src/Makefile.in

builddir
build
